#editor {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
}

.cm-editor {
    height: 100%;

}

.cm-scroller {
    overflow: auto;
}

body {
    overflow: auto;
}

.cm-line.error-line {
    background-color: #ffdddd;

}

.list-group {

    height: 85%;
    overflow: auto;
   border: 1px solid #495057;
}

.cm-gutters {
    background: red
}

.list-group-item img {
    max-width: 80px;
}

#compiler-results{
    max-height: 200px;
    overflow: auto;
}

.shader-description {
    flex-shrink: 1;
  }