#editor {
    width: 100%;
    height: 100%
}

.cm-editor {
    height: 500px;

}

.cm-scroller {
    overflow: auto;
}

body {
    overflow: hidden;
}

.cm-line.error-line {
    background-color: #ffdddd;

}

.list-group {

    height: 85%;
    overflow: auto;
   border: 1px solid #495057;
}

.cm-gutters {
    background: red
}

.list-group-item img {
    max-width: 80px;
}
